<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>접근 거부</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">접근 거부!</h4>
        <p>이 게시글을 수정할 권한이 없습니다.</p>
        <hr>
        <a href="/boards" class="btn btn-primary">게시판으로 돌아가기</a>
    </div>
</div>
</body>
</html>
