<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Board Application</h1>
        <hr class="my-4">
        <p>Use the buttons below to create a new board or view existing boards.</p>
        <a class="btn btn-primary btn-lg mr-2" href="/boards/new" role="button">글 작성하기</a>
        <a class="btn btn-secondary btn-lg" href="/boards" role="button">자유 게시판</a>
    </div>
</div> <!-- /container -->
</body>
</html>
